<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="col-xs-12">
            <div class="row">
                <h1>{{title}}</h1>
            </div>
        </div>




        <form class="form-horizontal" action="users/signup" method="POST" >

         <div class="form-group">
            <label for="name"> Enter name  </label>
            <input type="text" 
            name="name" 
            class="form-control" 
            id="name" 
            placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="email"> Enter Emai  </label>
            <input type="text" 
            name="email" 
            class="form-control" 
            id="email" 
            placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password"> Enter Password  </label>
            <input type="text" 
            name="password" 
            class="form-control" 
            id="password" 
            placeholder="Enter password">
        </div> 

            <div class="form-group">
          
                <button type="submit" class="btn btn-default pull-right">SignUp</button> </br>  
             already have account <a href="/login"> Login </a>
            </div>

        </form>
    </div>


</div>